// OWL Basic Template

// Colour overrides for Basic Template
@use './core/colours' with (
  $primary: #000,
  $secondary: #000,
  $btn-primary: #4f2683, // $-meteorite
);

// Components
@use './lessons/accordion';
@use './lessons/checklist';
@use './lessons/column';
@use './lessons/comment';
@use './lessons/lists';
@use './lessons/multimedia';
@use './lessons/rulers';
@use './lessons/studentContent';
@use './lessons/subpage';
@use './specific/basic/subpage-basic';
@use './lessons/tables';
@use './lessons/typography';
@use './specific/basic/typography-basic';


// Lessons Overrides (Might reach outside the page)
@use './lessons/overrides';
