// Accordions
@use '../core/colours' as *;
@use '../core/vars' as *;
@use '../core/animation' as anim;
@use '../core/typography' as typo;

// Accordion Content
.collabsible {
  margin: 0.75em 0 0.5em 0.75em;
  border-left: $defaultBorderWidth solid $lt-gray;
  border-radius: $defaultBorderRadius;
}

// Accordion Content
.collapsibleSectionHeader {
  @include anim.transition();
  position: relative;
  margin: 0.75em 0 0.5em 0.75em;
  padding: 1.25em;
  width: 100%;
  background: $accordionBg;
  color: $white;

  &:hover {
    @include anim.transition();
    background: $accordionBg-hvr;
  }

  // Bump up accordian header text size
  .sectionHeaderText {
    font-family: typo.$primaryFontFamily;
    font-size: 1.20em;
    color: $white;
  }

  // Fixes the gross aliasing, on the icon
  .collapseIcon {
    &::before {
      font-weight: 400;
    }
  }
}
