// Accordions
@use '../core/colours' as *;
@use '../core/vars' as *;
@use '../core/animation' as anim;
@use '../core/typography' as typo;

// Accordion Content
.collabsible {
  margin: 0.75em 0 0.5em 4%;
}

// Accordion Content
.collapsibleSectionHeader {
  @include anim.transition();
  position: relative;
  margin: 0.75em 0 0.5em 4%;
  width: 100%;

  &:hover {
    @include anim.transition();
  }

  // Bump up accordian header text size
  .sectionHeaderText {
    font-family: typo.$primaryFontFamily;
  }

  // Fixes the gross aliasing, on the icon
  .collapseIcon {
    &::before {
      font-weight: 400;
    }
  }
}
