// Let's fix-up the checklists
@use '../core/colours' as *;
@use '../core/vars' as *;
@use '../core/typography' as typo;

.checklistDiv {
  background: $white !important; // transparent; This was overwritten farther down.
  border: $defaultBorderWidth solid $gray; // Upped to 3px to match columns
  width: 100%;
  border-radius: $defaultBorderRadius;
  color: $black;


  .checklistTitle {
    font-family: typo.$primaryFontFamily;
    font-weight: 700;
  }

  .checklistLabel {
    font-family: typo.$primaryFontFamily;
  }

  .checklistDescription {
    font-family: typo.$primaryFontFamily;
    width: 100%;
  }

}
