// Columns!
@use '../core/colours' as *;
@use '../core/vars' as *;

// Ported from adv-css
.lastcol {
  background: $coltransparent;
  border: none;
}

// Why are they all right? No lefts here.
.right-col {
  width: 100%;
  padding: 0 0 0 1.5em;
}

// Section colouring
// Section breaks produce sections that can be customized by color. 
// These have borders of the given color, but they can be customized however you'd like.

// This is stacked as ideall I would like to rename this class if possible.
.coltransparent, .coltrans {
  background: $coltransparent;
  border: none;
  border-radius: $columnBorderRadius;
}

.colred {
  background-color: $white;
  border: $defaultBorderWidth solid $colred;
  border-radius: $columnBorderRadius;
}

.colblue {
  background-color: $white;
  border:$defaultBorderWidth solid $colblue;
  border-radius: $columnBorderRadius;
}

.colgray {
  background-color: $white;
  border:$defaultBorderWidth solid $colgray;
  border-radius: $columnBorderRadius;
}

.colyellow{ 
  background-color: $white;
  border:$defaultBorderWidth solid $colyellow;
  border-radius: $columnBorderRadius;
}

.colgreen {
  background-color: $white;
  border:$defaultBorderWidth solid $colgreen;
  border-radius: $columnBorderRadius;
}


