// Comments!
// It needs some love too.
@use '../core/colours' as *;
@use '../core/vars' as *;
@use '../core/typography' as typo;

// Override fonts/colours to adhere to template
.commentsDiv {

  .commentDiv {
    background: $white;
    border-bottom: 1px solid $lt-gray;
  
    .author {
      font-family: typo.$primaryFontFamily;
      color: $primary;
    }

    .commentBody {
      font-family: typo.$primaryFontFamily;
    }
  }
}

// Pretty up and create more spacing around user action buttons.
.add-comment-button {

  .usebutton {
    margin: 15px 0px 2px 0px;
    padding: 6px 20px !important;
    border: 1px solid $gray;
    border-radius: $defaultBorderRadius;
    background: $white; 

    .ui-button-text {
      font-size: 1.1em !important;
    }
  }
}

.replaceWithComments {
  margin: 0 !important;
}
