// Multimedia

// Multimedia class centering
.multimedia, .multimediaType {
  text-align: center;
}

// Embedded Videos catch for centering 
.textbox {
  video {
    display: block;
    margin: 0 auto;
  }
}
