// Student Page Display
@use '../core/colours' as *;

.studentDiv {

  .studentContentTable {
    background: $white;

    .studentContentTitle {
      padding: 0.2em 0.2em 0.2em 0;
      margin: 0.75em 0 0.5em 10px;
    }
  }
}
