// Subpage Buttons!
@use '../core/colours' as *;
@use '../core/animation' as anim;
@use '../core/typography' as typo;

.pageType.listType {
  // Subpage link parent container
  .link-div {
    width: 29%;

    // Subpage link as button
    .usebutton {
      @include anim.transition();
      font-family: typo.$primaryFontFamily;
      font-size: 1.2em;
      color: $white;
      text-align: center;
      border: 0px solid transparent;
      border-radius: 0px;
      padding: 15px;
      width: 100%;
      background: $btn-primary;
      margin: 0 0 1.25em 0;
      min-width: 200px;
    }
  }

  // Styles the description field for subpage / list items
  // Commented out values are originals replaced by fall edits.
  .rowdescription {
    font-family: typo.$primaryFontFamily;
    font-size: 1.25em;
    margin: 0 auto 1.25em 2.0em;
    width: 65%;
    vertical-align: top;
    color: $black;
  }
}