// Typography!
// More granular changes over typography in lessons
@use '../core/colours' as *;
@use '../core/typography' as typo;

// Override font to use template font
.textbox {
  font-family: typo.$primaryFontFamily;
  font-size: 1.1em;
  font-weight: 400;
  color: $black;
  margin: 1.2em 0;

  // Customize top-level headers
  h1 {
    font-family: typo.$primaryFontFamily;
    font-size: 2.5em;
    font-weight: 600;
    color: typo.$primaryFontColor;
    text-align: left;
    width: 100%;
    margin: 0 0 1.0em 0;
  }

  // Customize second-level headers
  h2 {
    font-family: typo.$primaryFontFamily;
    font-size: 1.8em;
    font-weight: 600;
    color: typo.$secondaryFontColor;
    text-align: left;
    width: 100%;
    margin: 0 0 1.0em 0;
  }

  // Make the rest of the headers consistent
  h3, h4, h5, h6 {
    font-family: typo.$primaryFontFamily;
    font-size: 1.1em;
    font-weight: 600;
    color: typo.$primaryFontColor;
    margin: 0 0 1.0em 0;
  }
}
