// Colours!

// As a general rule you'll want to use TEMPLATE / TEMPLATE COMPUTED. 
// But for basic colours/shades like black/white/grey you can direct access CORE.
// Avoid direct references to TEMPLATE DEFINED as they are not always guaranteed to be there.

@use 'sass:color' as color;

// TEMPLATE DEFINED (Set colours here then update the TEMPLATE variable)
// Alternatively @use and replace any !default colour as required (see basic template)
// $- is a private var, if you need access to a colour outside this file omit '-'
$-slate: #065464;
$-darkness: #212121;
$-meteorite: #4f2683;

// STANDARD (Do not remove. Add/edit as needed (be aware of the impact))
$white: #ffffff;
$black: #000;
$gray: #808080 !default;
$lt-gray: #a1a1a1 !default;

// TEMPLATE (Do not change variable names, you will break things 😵)
// Core Colours
$primary: $-slate !default;
$secondary: $-darkness !default;
$btn-primary: $primary !default;
// Columns
$colblue: #3f69f8;
$colgray: #807f83;
$colgreen: #72d2a6;
$colred: #c73248;
$coltransparent: transparent;
$colyellow: #ffd256;


// TEMPLATE COMPUTED (Calculated colours such as hovers. Do not remove. Add as needed)
$primary-hvr: color.scale($primary, $lightness: 20%);
$secondary-hvr: color.scale($secondary, $lightness: 20%);
$btn-primary-hvr: color.scale($btn-primary, $lightness: 20%);
