// YOU NEED TO RUN THE FONT SCRIPT BEFORE YOU COMPILE
@use './colours' as *;
@use "../external/_fonts.css";
@warn 'Reminder: Did you you run the font retrieval script?';

// Font Families
$primaryFontFamily: 'Open Sans', sans-serif;
$secondaryFontFamily: 'Open Sans', sans-serif;
$tertiaryFontFamily: 'Open Sans', sans-serif;

// Although the filename uses the Canadian spelling, for sake of ease vars will ommit the 'u'
$primaryFontColor: $primary !default;
$secondaryFontColor: $secondary !default;
$tertiaryFontColor: $black !default;
$bodyFontColor: $black !default;
