/*
  Generic Variables that do not fit into colours or typography.
  You can almost think of this as 'defaults' to make standardizing
  easier.
*/

$defaultBorderRadius: 3px;
$columnBorderRadius: $defaultBorderRadius;

$defaultBorderWidth: 3px;
