/*
  Generic Variables that do not fit into colours or typography.
  You can almost think of this as 'defaults' to make standardizing
  easier.
*/

// Borders
$defaultBorderRadius: 3px;
$defaultBorderWidth: 3px;
// - Column Specific
$columnBorderRadius: $defaultBorderRadius;
// - Ruler Specific
$rulerBorderWidth: 1px;

