@use '../core/colours' as *;
@use '../core/typography' as typo;

.itemclass {
  font-family: $primaryFontFamily;
  font-size: 1.1em;
  font-weight: 400;
  color: $black;
  background-color: $white;

  // Customize top-level headers
  h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: $primaryFontColor;
    text-align: left;
    width: 100%;
    margin: 20px 0;
  }

  // Customize second-level headers
  h2 {
    font-size: 1.8em;
    font-weight: 900;
    color: $secondaryFontColor;
    text-align: left;
    width: 100%;
    margin: 0 0 20px 0;
  }

  // Make the rest of the headers consistent
  h3, h4, h5, h6 {
    font-family: $primaryFontFamily;
    font-size: 1.1em;
    font-weight: 900;
    color: $primaryFontColor;
  }
}
